.container {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  justify-content: flex-start; /* Центрируем элементы по горизонтали */
  gap: 10px; /* Добавляем промежутки между элементами */
  padding: 10px; /* Добавляем отступы внутри контейнера */
  flex-direction: column;
}
