.droppable {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Центрирование содержимого по горизонтали */
  box-sizing: border-box;
  min-height: 30px;
  height: fit-content;
  margin: 5px;
  padding: 0 5px; /* Изменим padding-left на padding для равномерного отступа */
  user-select: none;
  list-style-type: none;
  min-width: 150px;
}

@media (max-width: 600px) {
  .droppable {
    align-items: flex-start; /* Прижимаем элементы к верху контейнера */
    justify-content: flex-start; /* Выравниваем элементы по левому краю */
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  }
}
