.item {
  display: flex;
  align-items: center;
  justify-content: center; /* Добавлено для горизонтального центрирования */
  box-sizing: border-box;
  width: 110px;
  height: 30px;
  margin: 5px;
  padding: 0 5px; /* Изменено с padding-left на padding для равномерного отступа */
  border: 1px solid gray;
  border-radius: 5px;
  user-select: none;
  background-color: white;
  box-shadow:
    0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05),
    0 1px calc(3px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.15);
  border-radius: calc(4px / var(--scale-x, 1));
  color: #333;
  font-weight: 400;
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center; /* Добавлено для центрирования текста */
}
